<h1 style="text-align: center;">My Profile</h1>
<h2>Họ và tên: Bùi Văn Cường</h2>
<h2>NSX: 04-12-2003</h2>

<form action="Index">
    <input type="text" name="Ho_Ten" placeholder="Nhập tên của bạn">
    <input type="submit" name="Gửi">
</form>
